
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-5-zkc {
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-position: center;
  width: 100%;
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:e2e840fced6e38050b8457d1d6a2c9571e530729');
  background-color: #ffffff;

  .auto-group-mxgp-97i {
    width: 100%;
    height: 22rem;
    position: relative;
    flex-shrink: 0;

    .images-removebg-preview-4-Uvg {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 14rem;
      height: 14rem;
      position: absolute;
      left: 130rem;
    }
    .star-2-pDr {
      vertical-align: top;
      width: 7.8rem;
      height: 7.4rem;
      position: absolute;
      left: 4.6rem;
      top: 3.2rem;
      object-fit: contain;
    }
    .your-order-YvY {
      line-height: 1.3025;
      color: #000000;
      height: 6.3rem;
      position: absolute;
      left: 14.5rem;
      display: flex;
      font-size: 4.8rem;
      font-weight: 400;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      width: 24.7rem;
      top: 4rem;
    }
    .rectangle-18-eig {
      height: 9.2rem;
      position: absolute;
      left: 0;
      top: 12.8rem;
      background-color: rgba(217, 217, 217, 0.3000000119);
      width: 144rem;
    }
    .search-2-n4C {
      top: 13.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 9rem;
      height: 8.6973rem;
      position: absolute;
      left: 2.3rem;
    }
    .search-all-orders-WVz {
      top: 14.05rem;
      font-size: 4.8rem;
      font-weight: 400;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      width: 37.4rem;
      height: 6.3rem;
      position: absolute;
      left: 16.8rem;
      display: flex;
      line-height: 1.3025;
      color: #62726e;
    }
    .line-5-cZ2 {
      background-color: #000000;
      width: 0.1rem;
      height: 9.2rem;
      position: absolute;
      left: 113rem;
      top: 12.8rem;
    }
    .filter--MFi {
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      position: absolute;
      top: 14.55rem;
      font-size: 4.8rem;
      display: flex;
      color: #1e1e1e;
      white-space: nowrap;
      width: 19.1rem;
      height: 6.3rem;
      left: 117.9rem;
    }
  }
  .auto-group-rnst-riG {
    padding: 5.5rem 7.4rem 6.3rem 7.6rem;
    width: 100%;
    row-gap: 0.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-c9f5-BEk {
      width: 100%;
      height: 16.7rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-33-j1N {
        width: 129rem;
        height: 16.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(217, 217, 217, 0.8000000119);
      }
      .download-12-2-Na8 {
        width: 14.6rem;
        height: 16.4rem;
        position: absolute;
        left: 7.2rem;
        top: 0.3rem;
        object-fit: cover;
        vertical-align: top;
      }
      .boys-adidas-shoes-paid-on-01-mar-2024-VPr {
        display: flex;
        align-items: center;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        height: 6.3rem;
        position: absolute;
        top: 5.05rem;
        justify-content: center;
        font-size: 2.4rem;
        width: 21.9rem;
        left: 35.2rem;
      }
      .item--mMN {
        display: flex;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.3025;
        white-space: nowrap;
        position: absolute;
        top: 5.35rem;
        height: 6.3rem;
        color: #000000;
        left: 120.25rem;
        align-items: center;
        font-family: Inika, 'Source Sans Pro';
        width: 2.3rem;
        justify-content: center;
      }
    }
    .auto-group-8q7u-3Zn {
      width: 100%;
      height: 16.7rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-34-o3A {
        top: 0;
        background-color: rgba(217, 217, 217, 0.8000000119);
        width: 129rem;
        height: 16.4rem;
        position: absolute;
        left: 0;
      }
      .download-10-2-LHz {
        width: 14.6rem;
        height: 16.7rem;
        position: absolute;
        left: 7.2rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .girls-shoes-paid-on-01-feb-2024-GhS {
        left: 35.6rem;
        top: 5.05rem;
        display: flex;
        font-weight: 400;
        height: 6.3rem;
        position: absolute;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        width: 21.1rem;
      }
      .item--NEg {
        width: 2.3rem;
        font-weight: 400;
        position: absolute;
        top: 5.05rem;
        display: flex;
        font-family: Inika, 'Source Sans Pro';
        height: 6.3rem;
        align-items: center;
        font-size: 4.8rem;
        line-height: 1.3025;
        color: #000000;
        left: 120.25rem;
        justify-content: center;
        white-space: nowrap;
      }
    }
    .auto-group-em6f-596 {
      width: 100%;
      height: 16.6rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-35-Qx4 {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(217, 217, 217, 0.8000000119);
        width: 129rem;
        height: 16.4rem;
      }
      .pngtree-sneakers-running-shoes-trendy-shoe-shapes-png-image7078175-1-McQ {
        position: absolute;
        left: 7.2rem;
        top: 0.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 14.6rem;
        height: 16.4rem;
      }
      .boys-shoes-paid-on-01-jan-2024-Fxg {
        top: 5.05rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #000000;
        width: 21.1rem;
        left: 35.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
        height: 6.3rem;
        position: absolute;
      }
      .item--9oA {
        left: 120.25rem;
        top: 4.15rem;
        color: #000000;
        position: absolute;
        font-size: 4.8rem;
        white-space: nowrap;
        width: 2.3rem;
        display: flex;
        justify-content: center;
        line-height: 1.3025;
        height: 6.3rem;
        align-items: center;
        font-weight: 400;
        font-family: Inika, 'Source Sans Pro';
      }
    }
    .auto-group-gfsd-dyE {
      width: 100%;
      height: 16.5rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-36-PSc {
        background-color: rgba(217, 217, 217, 0.8000000119);
        width: 129rem;
        height: 16.4rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
      }
      .images2-removebg-preview-1-89J {
        width: 14.6rem;
        height: 16.4rem;
        position: absolute;
        left: 7.2rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .high-hills-paid-on-01-dec-2023-FUp {
        display: flex;
        font-size: 2.4rem;
        color: #000000;
        width: 21.1rem;
        position: absolute;
        top: 5.15rem;
        justify-content: center;
        font-weight: 400;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
        height: 6.3rem;
        left: 35.6rem;
        align-items: center;
      }
      .item--kRa {
        left: 120.25rem;
        top: 5.05rem;
        line-height: 1.3025;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        font-size: 4.8rem;
        font-family: Inika, 'Source Sans Pro';
        width: 2.3rem;
        position: absolute;
        display: flex;
        justify-content: center;
        font-weight: 400;
        height: 6.3rem;
      }
    }
  }
}
