
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-8-1WC {
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:e2e840fced6e38050b8457d1d6a2c9571e530729');
  background-color: #ffffff;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .auto-group-7cfz-kCt {
    width: 137rem;
    height: 41.35rem;
    position: absolute;
    left: 7rem;
    top: 0;
    display: flex;
    align-items: flex-end;

    .ellipse-1-fKr {
      margin: 0rem 0.4rem 0.95rem 0rem;
      width: 2.5rem;
      height: 2.5rem;
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      background-color: #d9d9d9;
      border-radius: 1.25rem;
      flex-shrink: 0;
    }
    .auto-group-q93d-ZRE {
      margin-right: 14.4rem;
      width: 46.2rem;
      flex-shrink: 0;

      .auto-group-4m9h-6vx {
        margin: 0rem 0rem 4.25rem 5.1rem;
        width: 41.1rem;
        height: 11.1rem;
        position: relative;

        .ellipse-6-Cyz {
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #0c9119;
          border-radius: 3.5rem;
        }
        .item-1-M6C {
          width: 1.5rem;
          height: 5.3rem;
          left: 2.55rem;
          line-height: 1.3025;
          position: absolute;
          top: 0.75rem;
          display: flex;
          font-size: 4rem;
          color: #ffffff;
          align-items: center;
          justify-content: center;
          font-family: Inika, 'Source Sans Pro';
          font-weight: 400;
          white-space: nowrap;
        }
        .cart-2y2 {
          height: 4.2rem;
          position: absolute;
          display: flex;
          justify-content: center;
          font-family: Inika, 'Source Sans Pro';
          align-items: center;
          color: #000000;
          width: 6.2rem;
          left: 0;
          top: 6.8rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.3025;
          white-space: nowrap;
        }
        .line-6-Xet {
          width: 8.2024rem;
          height: 0.1rem;
          position: absolute;
          left: 6.5988rem;
          top: 3.4rem;
          background-color: #000000;
        }
        .ellipse-7-rhA {
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 14.8rem;
          top: 0;
          background-color: #0c9119;
          border-radius: 3.5rem;
        }
        .item-2-Ph6 {
          height: 5.3rem;
          font-weight: 400;
          color: #ffffff;
          width: 1.9rem;
          left: 17.35rem;
          font-size: 4rem;
          font-family: Inika, 'Source Sans Pro';
          top: 0.75rem;
          display: flex;
          align-items: center;
          position: absolute;
          justify-content: center;
          line-height: 1.3025;
          white-space: nowrap;
        }
        .address-hSt {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.3025;
          font-family: Inika, 'Source Sans Pro';
          left: 11rem;
          justify-content: center;
          top: 6.9rem;
          white-space: nowrap;
          height: 4.2rem;
          position: absolute;
          display: flex;
          color: #000000;
          width: 12rem;
          align-items: center;
        }
        .line-7-c44 {
          height: 0.1rem;
          position: absolute;
          left: 21.3988rem;
          top: 3.6rem;
          background-color: #000000;
          width: 8.2024rem;
        }
        .ellipse-8-wc8 {
          width: 7rem;
          height: 7rem;
          position: absolute;
          left: 29.6rem;
          top: 0;
          background-color: #0c9119;
          border-radius: 3.5rem;
        }
        .item-3-gJp {
          height: 5.3rem;
          display: flex;
          align-items: center;
          font-weight: 400;
          top: 0.85rem;
          color: #ffffff;
          font-family: Inika, 'Source Sans Pro';
          width: 1.9rem;
          left: 32.15rem;
          justify-content: center;
          font-size: 4rem;
          position: absolute;
          line-height: 1.3025;
          white-space: nowrap;
        }
        .payment-yoi {
          height: 4.2rem;
          left: 28.1rem;
          top: 6.9rem;
          font-family: Inika, 'Source Sans Pro';
          width: 13rem;
          position: absolute;
          display: flex;
          align-items: center;
          font-size: 3.2rem;
          white-space: nowrap;
          justify-content: center;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
      }
      .payment-option--VGG {
        margin-bottom: 6rem;
        align-items: center;
        justify-content: center;
        font-size: 3.2rem;
        font-weight: 400;
        font-family: Inika, 'Source Sans Pro';
        width: 100%;
        display: flex;
        line-height: 1.3025;
        color: #000000;
        white-space: nowrap;
      }
      .credit-card-p3e {
        white-space: nowrap;
        margin-left: 2.9rem;
        display: flex;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
    }
    .images-2-jgQ {
      flex-shrink: 0;
      margin: 0rem 5.5rem 2.25rem 0rem;
      width: 26.2rem;
      height: 25.1rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
    }
    .auto-group-xhsf-F8x {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 8.45rem;

      .images-removebg-preview-7-zcL {
        margin-bottom: 3.2rem;
        width: 14rem;
        height: 14rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .nike-air-max-plus-triple-black-shoes-size-11-8Ck {
        font-weight: 400;
        line-height: 1.3025;
        margin-right: 8rem;
        display: flex;
        font-size: 4rem;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 33.8rem;
      }
    }
  }
  .auto-group-wtzw-cdi {
    left: 7rem;
    top: 45.55rem;
    display: flex;
    align-items: center;
    width: 21.2rem;
    height: 4.2rem;
    position: absolute;

    .ellipse-2-M5W {
      flex-shrink: 0;
      margin: 0rem 3.3rem 0.2rem 0rem;
      width: 2.5rem;
      height: 2.5rem;
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      background-color: #d9d9d9;
      border-radius: 1.25rem;
    }
    .debit-card-4Ep {
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3025;
    }
  }
  .auto-group-waet-bEk {
    width: 106.75rem;
    height: 5.95rem;
    position: absolute;
    left: 7rem;
    top: 52.2rem;
    display: flex;
    align-items: center;

    .ellipse-3-KAk {
      height: 2.5rem;
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      background-color: #d9d9d9;
      border-radius: 1.25rem;
      flex-shrink: 0;
      margin: 1.55rem 3.3rem 0rem 0rem;
      width: 2.5rem;
    }
    .net-banking-cvY {
      margin: 1.75rem 58.35rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
    }
    .total-350000-jVN {
      display: flex;
      justify-content: center;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.75rem;
      align-items: center;
      flex-shrink: 0;
    }
  }
  .auto-group-fhdh-Seg {
    width: 11.3rem;
    height: 4.2rem;
    position: absolute;
    left: 7rem;
    top: 62.35rem;
    display: flex;
    align-items: center;

    .ellipse-4-aF6 {
      background-color: #d9d9d9;
      border-radius: 1.25rem;
      flex-shrink: 0;
      margin: 0rem 3.3rem 0.2rem 0rem;
      width: 2.5rem;
      height: 2.5rem;
      border: solid 0.2rem #000000;
      box-sizing: border-box;
    }
    .upi-gov {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
    }
  }
  .auto-group-noxk-RmW {
    position: absolute;
    left: 7rem;
    top: 70.65rem;
    display: flex;
    align-items: center;
    width: 30.7rem;
    height: 4.2rem;

    .ellipse-5-AUC {
      height: 2.5rem;
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      background-color: #d9d9d9;
      border-radius: 1.25rem;
      flex-shrink: 0;
      margin-right: 3.3rem;
      width: 2.5rem;
    }
    .cash-on-delivery-66x {
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3.2rem;
    }
  }
  .auto-group-7vx9-poe {
    width: 124.65rem;
    height: 12.95rem;
    position: absolute;
    left: 9.9rem;
    top: 78.15rem;
    display: flex;
    align-items: center;

    .auto-group-v6k9-ZFS {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.15rem 16.85rem 1.6rem 0rem;
      height: 100%;

      .auto-group-6dgt-tHi {
        font-size: 3.2rem;
        border-radius: 1.5rem;
        flex-shrink: 0;
        height: 100%;
        line-height: 1.3025;
        color: #1e1e1e;
        background-color: #0c9119;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-family: Inika, 'Source Sans Pro';
        margin-right: 4.7rem;
        justify-content: center;
        white-space: nowrap;
        width: 23.4rem;
      }
      .auto-group-nzx1-Nig {
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 1.5rem;
        width: 23.4rem;
        height: 100%;
        justify-content: center;
        display: flex;
        color: #1e1e1e;
        flex-shrink: 0;
        align-items: center;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.3025;
        background-color: #0c9119;
      }
    }
    .auto-group-3kwb-sQY {
      flex-shrink: 0;
      width: 56.3rem;
      height: 100%;
      position: relative;

      .happy-cusomer-to-join-kd-products-trut-us--pag {
        justify-content: center;
        font-size: 4rem;
        color: #ffffff;
        width: 56.3rem;
        position: absolute;
        top: 0;
        align-items: center;
        line-height: 1.2575;
        font-family: Informal Roman, 'Source Sans Pro';
        height: 10.1rem;
        left: 0;
        display: flex;
        font-weight: 400;
      }
      .heart-1-Jkk {
        height: 7.6rem;
        position: absolute;
        left: 45.75rem;
        top: 5.35rem;
        object-fit: cover;
        vertical-align: top;
        width: 8.4rem;
      }
    }
  }
  .line-8-2gk {
    width: 66.1rem;
    height: 0.1rem;
    position: absolute;
    left: 70.5rem;
    top: 44.7rem;
    background-color: #ffffff;
  }
}
