
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-KBa {
  background-image: url('REPLACE_IMAGE:e2e840fced6e38050b8457d1d6a2c9571e530729');
  background-color: #ffffff;
  overflow: hidden;
  flex-direction: column;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  align-items: flex-end;
  display: flex;

  .auto-group-o6ek-3tG {
    margin-bottom: 1.45rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-z7zr-b96 {
      flex-shrink: 0;
      margin: 2.7rem 14.9rem 0rem 0rem;
      width: 39.1rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-hdnf-WWx {
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        width: 100%;
        display: flex;
        align-items: center;

        .star-1-FzL {
          margin-right: 1.4rem;
          width: 7.8rem;
          height: 6.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .todays-deals-zS8 {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
      }
      .auto-group-6nqf-qxY {
        margin: 0rem 9.4rem 0rem 7.2rem;
        width: calc(100% - 16.6rem);
        height: 35.75rem;
        position: relative;
        flex-shrink: 0;

        .download-3-1-NBn {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
          width: 22.5rem;
          height: 25.9rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .up-to-50-gyA {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.3025;
          color: #ff0202;
          position: absolute;
          left: 2.6rem;
          top: 25.55rem;
          display: flex;
          font-size: 4rem;
          font-weight: 400;
          width: 18.3rem;
          height: 5.3rem;
        }
        .high-hill-o2C {
          display: flex;
          font-size: 4rem;
          color: #1e1e1e;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          left: 3.8rem;
          height: 5.3rem;
          position: absolute;
          top: 30.45rem;
          font-weight: 400;
          line-height: 1.3025;
          width: 16.6rem;
        }
      }
    }
    .auto-group-gdw5-5Ec {
      margin: 10.6rem 24.4rem 0rem 0rem;
      width: 24.8rem;
      height: 35.4rem;
      position: relative;
      flex-shrink: 0;

      .download-5-1-Ca8 {
        height: 25.9rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        width: 24.8rem;
      }
      .up-to-60-LAY {
        height: 5.3rem;
        position: absolute;
        top: 25.5rem;
        font-size: 4rem;
        font-weight: 400;
        color: #ff0202;
        font-family: Inika, 'Source Sans Pro';
        width: 18.8rem;
        white-space: nowrap;
        display: flex;
        line-height: 1.3025;
        left: 0;
      }
      .shoes-23N {
        color: #1e1e1e;
        white-space: nowrap;
        height: 5.3rem;
        top: 30.1rem;
        display: flex;
        font-size: 4rem;
        font-weight: 400;
        width: 10.8rem;
        position: absolute;
        left: 3.8rem;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
      }
    }
    .auto-group-pjjd-u7A {
      margin: 10.6rem 0.1rem 0rem 0rem;
      width: 22.1rem;
      height: 34.95rem;
      position: relative;
      flex-shrink: 0;

      .download-8-1-pjv {
        height: 25.9rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        width: 22.1rem;
      }
      .up-to-65-xLL {
        width: 18.5rem;
        height: 5.3rem;
        position: absolute;
        top: 25.45rem;
        display: flex;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #ff0202;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        left: 0;
      }
      .girl-shoes-sCQ {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #1e1e1e;
        position: absolute;
        left: 1.3rem;
        top: 29.65rem;
        display: flex;
        white-space: nowrap;
        width: 18.7rem;
        height: 5.3rem;
        font-family: Inika, 'Source Sans Pro';
      }
    }
    .images-removebg-preview-3-moa {
      width: 14rem;
      height: 14rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-d4uu-7Me {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 55.4rem;

    .download-9-1-e6g {
      position: absolute;
      left: 10.9rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 22.4rem;
      height: 25.9rem;
    }
    .up-to-45-ZDe {
      top: 25.55rem;
      font-size: 4rem;
      line-height: 1.3025;
      color: #ff0202;
      font-family: Inika, 'Source Sans Pro';
      width: 18.3rem;
      position: absolute;
      left: 13.5rem;
      white-space: nowrap;
      height: 5.3rem;
      display: flex;
      font-weight: 400;
    }
    .hill-dUQ {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      width: 6.6rem;
      height: 5.3rem;
      position: absolute;
      display: flex;
      white-space: nowrap;
      left: 17.5rem;
      top: 30.35rem;
      color: #1e1e1e;
    }
    .download-10-1-Y5a {
      left: 57.7rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 24.8rem;
      height: 25.9rem;
      position: absolute;
    }
    .up-to-35-sNk {
      height: 5.3rem;
      display: flex;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      color: #ff0202;
      white-space: nowrap;
      width: 18.1rem;
      position: absolute;
      left: 57.7rem;
      top: 25.5rem;
      font-size: 4rem;
      font-weight: 400;
    }
    .shoes-P6C {
      position: absolute;
      left: 63.3rem;
      font-size: 4rem;
      line-height: 1.3025;
      white-space: nowrap;
      font-family: Inika, 'Source Sans Pro';
      width: 10.8rem;
      height: 5.3rem;
      top: 30.25rem;
      display: flex;
      font-weight: 400;
      color: #1e1e1e;
    }
    .download-12-1-5Up {
      position: absolute;
      left: 106.9rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 22.1rem;
      height: 25.9rem;
    }
    .up-to-40-QX6 {
      font-size: 4rem;
      color: #ff0202;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      height: 5.3rem;
      top: 25.45rem;
      display: flex;
      font-weight: 400;
      line-height: 1.3025;
      width: 18.7rem;
      position: absolute;
      left: 106.9rem;
    }
    .boys-shoes-Ke4 {
      height: 5.3rem;
      position: absolute;
      display: flex;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      width: 21.5rem;
      left: 107.7rem;
      top: 30.2rem;
      font-size: 4rem;
      font-weight: 400;
      color: #1e1e1e;
      white-space: nowrap;
    }
    .rectangle-16-mkx {
      width: 144rem;
      height: 19.9rem;
      position: absolute;
      left: 0;
      top: 35.5rem;
      background-color: #000000;
    }
    .about-us-ucG {
      line-height: 1.3025;
      color: #ffffff;
      width: 10.5rem;
      height: 3.2rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 8.2rem;
      top: 37.35rem;
    }
    .our-story-services-d2U {
      width: 12.4rem;
      left: 8.9rem;
      top: 41.5rem;
      line-height: 1.3025;
      font-weight: 400;
      color: #ffffff;
      font-family: Inika, 'Source Sans Pro';
      height: 6.3rem;
      position: absolute;
      display: flex;
      font-size: 2.4rem;
    }
    .offers-rewords-wJ4 {
      line-height: 1.3025;
      color: #ffffff;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 37.35rem;
      font-weight: 400;
      display: flex;
      font-size: 2.4rem;
      width: 19.4rem;
      height: 3.2rem;
      left: 36.6rem;
    }
    .coupons-3rt {
      color: #ffffff;
      font-family: Inika, 'Source Sans Pro';
      height: 3.2rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
      width: 10.6rem;
      position: absolute;
      left: 40rem;
      top: 41.55rem;
      white-space: nowrap;
    }
    .follow-us-xyr {
      font-weight: 400;
      white-space: nowrap;
      position: absolute;
      left: 72rem;
      top: 37.65rem;
      display: flex;
      color: #ffffff;
      font-family: Inika, 'Source Sans Pro';
      width: 11rem;
      height: 3.2rem;
      font-size: 2.4rem;
      line-height: 1.3025;
    }
    .facebook-twitter-instagram-youtube-gur {
      left: 72.2rem;
      font-size: 2.4rem;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      height: 12.6rem;
      position: absolute;
      display: flex;
      font-weight: 400;
      color: #ffffff;
      width: 12.8rem;
      top: 41.4rem;
    }
    .facebook-3-kui {
      width: 3.3rem;
      height: 2.9rem;
      position: absolute;
      left: 67.5rem;
      top: 41.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .twitter-3-rSx {
      vertical-align: top;
      width: 3.3rem;
      height: 2.9rem;
      position: absolute;
      left: 67.5rem;
      top: 45.1rem;
      object-fit: cover;
    }
    .instagram-3-9wr {
      object-fit: cover;
      vertical-align: top;
      width: 3.3rem;
      height: 2.9rem;
      position: absolute;
      left: 67.5rem;
      top: 48.3rem;
    }
    .download-removebg-preview-3-The {
      width: 5rem;
      height: 4.2rem;
      position: absolute;
      left: 66.7rem;
      top: 50.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .get-in-touch-anG {
      line-height: 1.3025;
      color: #ffffff;
      font-family: Inika, 'Source Sans Pro';
      width: 14.6rem;
      height: 3.2rem;
      font-size: 2.4rem;
      font-weight: 400;
      white-space: nowrap;
      position: absolute;
      left: 101.4rem;
      top: 37.8rem;
      display: flex;
    }
    .call-91-9876-5432-10-e-mail-abcgmailcom-5j2 {
      height: 6.3rem;
      position: absolute;
      display: flex;
      width: 27.6rem;
      top: 43.9rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #ffffff;
      font-family: Inika, 'Source Sans Pro';
      left: 102rem;
    }
  }
}
