
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-yoS {
  background-image: url('REPLACE_IMAGE:e2e840fced6e38050b8457d1d6a2c9571e530729');
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding-left: 4.5rem;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-32x9-hjS {
    margin: 1rem 1.2rem 0rem 0rem;
    width: 44.2rem;
    flex-shrink: 0;

    .auto-group-krfh-dd6 {
      width: calc(100% - 13.6rem);
      display: flex;
      align-items: center;
      margin: 0rem 13.6rem 2.6rem 0rem;

      .star-2-Moz {
        margin-right: 1.4rem;
        width: 7.8rem;
        height: 6.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .your-cart-hcx {
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 4.8rem;
        font-weight: 400;
      }
    }
    .auto-group-tnzk-dmW {
      position: relative;
      margin: 0rem 0rem 0.9rem 0.2rem;
      width: 44rem;
      height: 43rem;

      .rectangle-37-MxQ {
        width: 44rem;
        height: 42.9rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #d9d9d9;
      }
      .nike-swoosh-news-gear-1-uU8 {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 44rem;
        height: 29.9rem;
        position: absolute;
      }
      .nike-will-let-people-design-and-sell-sneakers-for-the-metaverse-wired-EFW {
        font-family: Inika, 'Source Sans Pro';
        left: 1.1rem;
        top: 30.8rem;
        display: flex;
        line-height: 1.3025;
        color: #000000;
        width: 40.7rem;
        height: 6.3rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .item-259900-hun {
        width: 16.5rem;
        left: 25.9rem;
        top: 37.7rem;
        font-weight: 400;
        line-height: 1.3025;
        white-space: nowrap;
        height: 5.3rem;
        position: absolute;
        display: flex;
        font-size: 4rem;
        color: #62726e;
        font-family: Inika, 'Source Sans Pro';
      }
    }
    .auto-group-ouut-C5r {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      background-color: #d9d9d9;
      margin-left: 0.2rem;
      width: 44rem;

      .images-1-1-Xdv {
        margin-bottom: 0.6rem;
        width: 44rem;
        height: 29.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-r4mm-TnU {
        margin-right: 0.4rem;
        width: 40.7rem;
        height: 12.4rem;
        position: relative;
        flex-shrink: 0;

        .womens-casual-shoes-genuine-leather-high-heels-sandals-zos1251-touchy-style-ByN {
          color: #000000;
          width: 40.7rem;
          height: 9.4rem;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          font-weight: 400;
          font-size: 2.4rem;
          line-height: 1.3025;
          font-family: Inika, 'Source Sans Pro';
        }
        .item-229900-ftY {
          font-weight: 400;
          color: #62726e;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 23.1rem;
          display: flex;
          font-size: 4rem;
          width: 16.5rem;
          height: 5.3rem;
          top: 7.1rem;
          line-height: 1.3025;
        }
      }
    }
  }
  .auto-group-ltpv-wr4 {
    margin: 10rem 1.3rem 0rem 0rem;
    width: 44.1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-dxef-4vg {
      flex-shrink: 0;
      margin-bottom: 0.7rem;
      width: 100%;
      height: 43.2rem;
      position: relative;

      .rectangle-39-1L8 {
        height: 42.9rem;
        position: absolute;
        left: 0.1rem;
        top: 0;
        background-color: #d9d9d9;
        width: 44rem;
      }
      .dims-1-Yax {
        width: 44rem;
        height: 29.9rem;
        position: absolute;
        left: 0.1rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .nikes-first-self-lacing-basketball-shoes-t92 {
        left: 0;
        display: flex;
        font-size: 2.4rem;
        line-height: 1.3025;
        width: 42.9rem;
        position: absolute;
        top: 31rem;
        font-weight: 400;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.2rem;
      }
      .item-299900-Bdv {
        width: 16.8rem;
        height: 5.3rem;
        display: flex;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 26.4rem;
        top: 37.9rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #62726e;
      }
    }
    .auto-group-5swk-5jJ {
      width: 100%;
      height: 42.9rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-40-qCg {
        background-color: #d9d9d9;
        width: 44rem;
        height: 42.9rem;
        position: absolute;
        left: 0.1rem;
        top: 0;
      }
      .hkizqvd7t1lf9di7qilu-1-aAG {
        object-fit: cover;
        vertical-align: top;
        width: 44.1rem;
        height: 29.9rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .stepee-womens-formal-shoes-casual-belly-for-womens-girls-synthetic-leather-office-shoes-Wpc {
        position: absolute;
        left: 1.7rem;
        top: 30.2rem;
        color: #000000;
        width: 41.3rem;
        height: 9.4rem;
        display: flex;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
      }
      .item-329900-bbA {
        left: 26.1rem;
        display: flex;
        font-weight: 400;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
        width: 16.6rem;
        height: 5.3rem;
        font-size: 4rem;
        color: #62726e;
        white-space: nowrap;
        position: absolute;
        top: 37.3rem;
      }
    }
  }
  .auto-group-bgqf-Uur {
    flex-shrink: 0;
    margin-bottom: 2.8rem;
    width: 48.7rem;

    .auto-group-qa4w-2Ag {
      margin-bottom: 0.9rem;
      width: 100%;
      height: 55.8rem;
      position: relative;

      .images-removebg-preview-9-AXn {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 14rem;
        height: 14rem;
        position: absolute;
        left: 34.7rem;
      }
      .rectangle-41-tig {
        left: 0;
        top: 12.8rem;
        background-color: #d9d9d9;
        width: 44rem;
        height: 42.9rem;
        position: absolute;
      }
      .akpxd512-1-SEQ {
        width: 41.7rem;
        height: 29.9rem;
        position: absolute;
        left: 0;
        top: 12.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .catwalks-high-heel-girls-shoes-high-ankle-boots-for-women-sneakers-for-girls-and-special-occasion-mXa {
        font-weight: 400;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
        width: 41.3rem;
        height: 9.4rem;
        left: 0.7rem;
        display: flex;
        position: absolute;
        top: 42.85rem;
        font-size: 2.4rem;
        color: #000000;
      }
      .item-249900-Eg4 {
        font-family: Inika, 'Source Sans Pro';
        width: 16.8rem;
        position: absolute;
        left: 26.7rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.3025;
        height: 5.3rem;
        top: 50.5rem;
        display: flex;
        color: #62726e;
        white-space: nowrap;
      }
    }
    .auto-group-ngtf-w4g {
      width: 44.1rem;
      height: 42.9rem;
      position: relative;

      .rectangle-42-H8Y {
        background-color: #d9d9d9;
        width: 44rem;
        height: 42.9rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .download-4-1-dTJ {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 44rem;
        height: 29.9rem;
        position: absolute;
      }
      .englewood-boys-formal-shoes-white-dress-shoes-faux-leather-shoes-white-lace-formal-shoes-mZW {
        left: 0;
        font-size: 2.4rem;
        display: flex;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        width: 44.1rem;
        height: 9.4rem;
        position: absolute;
        top: 30.2rem;
        font-family: Inika, 'Source Sans Pro';
      }
      .item-359900-rax {
        left: 26.3rem;
        font-size: 4rem;
        line-height: 1.3025;
        color: #62726e;
        width: 16.6rem;
        height: 5.3rem;
        position: absolute;
        top: 37.3rem;
        display: flex;
        font-weight: 400;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
